<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste obcaecati in dolorem numquam ea quae tenetur error possimus minus officia. Error voluptas, qui perspiciatis facere vitae perferendis ea nesciunt! Magni.</p>
    </div>
</div>